* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:source sans pro;
  }
  :root {
    --padding: 16px;
    --margin: 16px;
  }

  body{
    background: url('images/headphones_hero_1.jpg') no-repeat center center/cover;
  }
  /* Hero Section Styles */

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
    margin-top: 27px;

  }
  
  .navbar img {
    width: 161px;
    height: 32px;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    gap: var(--margin);
  }
  
  .nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
  }
  
  .nav-menu a:hover {
    color: #FF6565;
  }
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 4px;
    width: 25px;
    background: #333;
    margin-bottom: 4px;
    border-radius: 2px;
}

.hero-section {
    text-align: center;
    padding: 50px 20px;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hero-section h1 {
    font-size: 32px;
    margin-bottom: var(--margin);
  }
  
  .hero-section .p1 {
    font-size: 16px;
    margin-bottom: var(--margin);
  }
  
  .hero-section .button {
    
    border: none;
    border-radius: 26px;
    width: 162px;
    height: 44px;
    background-color: #FF6565;
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin-top: 40px;  
    margin-bottom: 65px;
  }
  
  .hero-section .button:hover {
    opacity: 0.9
  }
  
  .hero-section .p2 {
    font-size: 16px;
    line-height: 1.5;
  }