*{
    box-sizing: border-box;
    font-family: Source Sans Pro;
}
body{
    display: flex;
   text-align: center;
   justify-content: center;
}

.icon-container {
    margin-top: 97px;
    display: flex;
    justify-content: center; 
    gap: 58px;

  }

  .icon-container > div {
    text-align: center; 
  }

  .icon-container img {
    max-width: 100%; 
    height: auto; 
  }
  .icon-container p{
    margin-top: 63px; 
    font-size: 14px; 
    color: #555; 
    text-align: center;
  }