*{
    box-sizing: border-box;
    font-family: Source Sans Pro;
}
body{
    display: flex;
   text-align: center;
   justify-content: center;
}

.icon-container {
    margin-top: 97px;
    display: flex;
    justify-content: center; 
    gap: 58px;
    align-items: end;
  }

  .icon-container > div {
    text-align: center; 
  }

  .icon-container img {
    max-width: 100%; 
    height: auto; 
  }
  .icon-container p{
    margin-top: 13px; 
    font-size: 14px; 
    color: #555; 
    display: flex;
    justify-content: flex-end;
  }
  
  .icon-container h3{
    margin-top:24px ;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 13px;
    font-family: spin cycle;
  }
  .icon1 .icon2 .icon3 .icon4{
    align-items: center;
    align-items: end;
  
  }