*{
    box-sizing: border-box;
    font-family: Source Sans Pro;
    color: white;
}
body{
    display: flex;
   text-align: center;
   justify-content: center;
   background: url(background\ 1.png);
}
h2{
    font-size: 46px;
}
.Results{
    display: flex;
   /* flex-wrap: wrap; */
   justify-content:space-between;

}
 .Results img{
    width: 180px;
    height: 171px;
   margin: left 76px;
   display: flex; 
}
.pentagons{

   text-align: center;
   margin-top: 56px;
   /* justify-content: space-between; */
   justify-content: flex-end;
   
}
  P{
    font-size: 16px;
  }
  .p1{
    font-size: 14px;
    margin-top: 20px;
  }
  .pentagons h2,
  .pentagons p1 {
      position: absolute; /* Allows you to position the text over the image */
      color: white; /* Adjust color for better visibility over the image */
      align-items: center;
  }
  
  .pentagons h2 {
      margin-top: 10px; /* Adjust as needed */
  }
  .dot{
    justify-content: space-between;
  }