/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variables */
:root {
  --font-family: 'source sans pro';
  --padding: 76px;
  --margin: 16px;
  --button-color: #ff5722;
  --button-hover-color: #e64a19;
  --text-color: #333;
  --background-color: #f9f9f9;
}

/* General Styles */
body {
  background-size: 100px;
  background-position: top;
  position: relative;
 background: url(background\ 1.png) no-repeat;
 height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--padding);
}

/* Our Results Section Styles */
section {
  text-align: center;
  padding: 50px 20px;
  color: white;
}

section h2 {
 margin-top: 90px; */
  color:white;
  font-size: 32px;
  margin-bottom: 40px ;
  font-family: Spin Cycle;
}

section p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom:56px ;
  color: white;
  font-family: source sans pro;
margin-top: 42px;
}

.Results {
  display: flex;
  justify-content: center;
  gap: var(--margin);
  flex-wrap: wrap;
}

.pentagons {
  width: 180px;
  height: 171px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
  margin-bottom: 71px;
}

.dot {
  max-width: 100%;
  height: auto;
}
