* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Source Sans Pro";
}

body {
    background-color: white;
    background: url(images/headphones_hero_1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
}

nav {
    align-items: center;
    padding: 30px 18%;
    display: flex;
    justify-content: space-between;
}

.logo {
    position: absolute;
    width: 161px;
    height: 32px;
    left: 200.61px;
    top: 27.76px;
}

nav {
    /* header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 18%;
}

nav ul {
    /* menu */
    display: flex;
    position: absolute;
    width: 255px;
    height: 15px;
    left: 946px;
    top: 37px;
    list-style: none;
    gap: 10%;
    font-size: 12px;
    font-weight: 700;
}

nav ul a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center children horizontally */
    text-align: center; /* Center text within the block */
    position: relative;
    height: 115vh;
    padding: 40px;
}

.hero-section h1 {
    margin: 0;
    font-weight: bolder;
    font-size: 32px;
    text-align: center;
    color: white;
}

.hero-section .p1 {
    font-size: 16px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.button {
    border-radius: 26px;
    width: 162px;
    height: 44px;
    background-color: #FF6565;
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin-top: 40px;
   
}
.hero-section .p2{
    text-align: center;
    color: white;
    font-size: 16px;
    margin-top: 65px;
    line-break: anywhere;
}