body {
    font-family: Source Sans Pro;
    background: url(images/Object.png);
    background-size: 100p;
    background-position: top;
    background-repeat: no-repeat;

}


/*================================header======================================*/
/* #main-header {
  
} */

nav {
    display: flex;
    font-size: 12px;
    font-weight: 700;
    justify-content: space-between;
    padding: 10px 12%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;

}

nav ul a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/*================================herosection======================================*/

.hero-section {
    display: flex;
    flex-direction: column;



}

.CTA-content {
    justify-content: center;
    text-align: center;

}

.CTA-subcontent {
    display: flex;
    gap: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20.11px;
    color: white;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: 20px;
}

.CTA-content h1 {
    font-size: 120px;
    font-weight: 700;
    line-height: 150.84px;
    color: white;
    margin-bottom: 10px;
    margin-top: 50px;

}

.tutors {
    display: flex;
    flex-direction: column;

}

.tutor-1 {
    /* background-color: aqua;  */
    display: flex;

    color: white;
    gap: 40px;
    font-size: 18px;
    margin-top: 40px;
    width: 1009px;
    height: 237px;
    top: 758px;
    left: 217px;
    opacity: 0px;
    flex-direction: row-reverse;

}

.tutors .tagline {
    text-align: center;
    color: white;
    margin-top: 100px;

}


.tutors .tagline span {
    color: #C271FF;
    font-weight: 700;
}

.tutors div img {
    border-radius: 50%;
    width: 160px;
}

.btn {
    border-radius: 22px;
    text-align: center;
    background-color: #C271FF;
    color: white;
    width: 162px;
    height: 44px;
    font-style: semibold;
    font-size: 14;
    box-shadow: rgba(0, 0, 0, 0.52), blur 20, y 2;
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 40px;

}

/* ==================================testimonials================================== */
.testimonials {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #C271FF;
    margin-top: 105px;
    height: 392px;
    top: 1093px;
    height: 392px;
    top: 1093px;
    left: -1px;
    gap: 20px;
    align-items: center;



}

.testimonials div img {
    width: 160px;
    height: 160px;
    top: 1201px;
    left: 259px;
    gap: 0px;
    opacity: 0px;

}

.testimonials .Testimonial-quote {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    justify-content: flex-start;
}

.testimonials .Testimonial-quote h3 {
    font-weight: bold;
    margin-bottom: 5px;
}

.testimonials .Testimonial-quote p {

    margin-top: 0px;
    margin-top: 0%;
}

/* =========================tutorials================= */
.tutorials {
    height: 100vh;
    /* background-color: aliceblue; */
}

.tutorials h2 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: lighter;

}

.tutorials h2 span {
    font-weight: bold;
    color: #C271FF;
    margin-left: 10px;
    margin-right: 10px;
}

.tutorial {
    /* background-color: blue; */
    display: flex;
    text-align: justify;

    height: 450px;
    top: 1572px;
    left: 106px;
    gap: 0px;
    opacity: 0px;


}

.tutorial h3 {
    justify-content: first baseline;
    font-size: 16px;
    font-weight: 700;
}

.tutorial h4 {
    color: #C271FF;
}

.tutorial .time {
    display: flex;
    color: #C271FF;
    text-align: right;
}

.tutorials .tutorial .tutorials-box .playbtn {
    position: relative;
    width: 64px;
    top: 25%;
    left: 50%;
    transform: translate(-50% -50%);
    display: flex;
}

.tutorials .tutorial .tutorials-box .commenter {
    width: 30px;
    height: 30px;
    top: 261px;
    left: 13px;
    gap: 0px;
    opacity: 0px;
}

body {
    font-family: Source Sans Pro;
    background: url(images/Object.png);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;

}

.tutors h2 {
    position: absolute;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.22px;
    top: 470px;
    font-style: light;
    color: white;
}

.tutors h2 span {
    color: #C271FF;
}

.tutors.tutors-1 {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    justify-content: row;
}

.tutors.tutors-2 {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.tutors.tutors-1 div {
    text-align: center;
}


span {
    font-style: bold;
    gap: ;
}

/* ========================membership==============================*/
.membership {
    display: flex;
    flex-direction: column;
    background-color: #071629;
    align-items: center;
    text-align: center;
    gap: 85px;
    padding: 50px;
    color: white;

}

.membership .memclass {
    font-size: 32px;

}

.membership .memclass span {
    font-weight: 700;
    color: #C271FF;
}

.membership .membership-plans {
    display: flex;
    gap: 100px;
}

.membership .membership-plans .membership-container p {
    width: 212px;
    height: 52px;
    top: 101px;
    left: 22.5px;
    gap: 0px;
    opacity: 0px;
}

.membership .btn1 {
    border-radius: 22px;
    text-align: center;
    background-color: #C271FF;
    color: white;
    width: 162px;
    height: 44px;
    font-style: semibold;
    font-size: 14;
    box-shadow: rgba(0, 0, 0, 0.52), blur 20, y 2;
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 40px;
}

/*==========================FAQS========================*/
.faqs {
    display: flex;
    width: 920px;
    height: 707px;
    top: 2678px;
    left: 249px;
    gap: 0px;
    opacity: 0px;
    padding: 70px;
}


.faqs h2 {
    font-size: 60px;
    font-weight: 300;
    display: flex;
    text-align: center;
    justify-content: center;
}
.faq h3{
    display: flex;
    flex-direction: row;
    background-color: brown
    j
}
.faq-content {
    justify-content:center;
    width: 350px;
    height: 192px;
    top: 50px;
    gap: 0px;
    opacity: 0px;
    font-size: 14px;
    font-weight: 400px;
    line-height:24px ;
    display: flex;
    text-align: center;
    flex-direction: row;
    

}

/* =======footer============================= */
.footer-links {
    background-color: #071629;
    display: flex;
    justify-content: space-around;
    color: white;

    height: 249px;
    top: 3469px;
    gap: 0px;
    opacity: 0px;

}

.footer-links img {
    width: 169px;
    height: 30px;
    top: 95px;
    left: 165px;
    padding: 0.02px 0px 0.52px 0.59px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */

    .footer-socials {
        width: 130px;
        height: 30px;
        top: 90px;
        left: 1070px;
        gap: 20px;
        /* background-color: #C271FF; */
        display: flex;
        align-items: center;
        border-radius: 50%;
        margin-bottom: 100px;
    }

    f
}