body {
    font-family: Source Sans Pro;
    background: url(images/Object.png);
    background-size: 140%;
    background-position: top;
    background-repeat: no-repeat;


}

/*================================header======================================*/
/* #main-header {
  
} */

nav {
    display: flex;
    font-size: 12px;
    font-weight: 700;
    justify-content: space-between;
    padding: 10px 12%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;

}

nav ul a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/*================================herosection======================================*/

.hero-section {
    display: flex;
    flex-direction: column;



}

.CTA-content {
    justify-content: center;
    text-align: center;

}

.CTA-subcontent {
    display: flex;
    gap: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20.11px;
    color: white;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: 20px;
}

.CTA-content h1 {
    font-size: 120px;
    font-weight: 700;
    line-height: 150.84px;
    color: white;
    margin-bottom: 10px;
    margin-top: 150px;

}

.tutors {
    display: flex;
    flex-direction: column;

}

.tutor-1 {
    /* background-color: aqua;  */
    display: flex;
    justify-content: center;
    color: white;
    gap: 40px;
    font-size: 18px;
    margin-top: 40px;
}

.tutors .tagline {
    text-align: center;
    color: white;
    margin-top: 100px;

}


.tutors .tagline span {
    color: #C271FF;
    font-weight: 700;
}

.tutors div img {
    border-radius: 50%;
    width: 160px;
}

.btn {
    border-radius: 22px;
    text-align: center;
    background-color: #C271FF;
    color: white;
    width: 162px;
    height: 44px;
    font-style: semibold;
    font-size: 14;
    box-shadow: rgba(0, 0, 0, 0.52), blur 20, y 2;
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 40px;

}

/* ==================================testimonials================================== */
.testimonials {
    display: flex;
  justify-content: center;
    color: white;
    background-color: #C271FF;
    margin-top: 105px;
    height: 392px;
    top: 1093px;
    height: 392px;
    top: 1093px;
    left: -1px;
    gap: 20px;
    align-items: center;


}

.testimonials div img {
    width: 160px;
    height: 160px;
    top: 1201px;
    left: 259px;
    gap: 0px;
    opacity: 0px;

}

.testimonials .Testimonial-quote {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    justify-content: flex-start;    
}

.testimonials .Testimonial-quote h3 {
    font-weight:bold;
    margin-bottom: 5px;
}
.testimonials .Testimonial-quote p{

    margin-top: 0px;
    margin-top: 0%;
} 
/* =========================tutorials================= */
.tutorials {
    height: 100vh;
    background-color: aliceblue;
}
.tutorials h2 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: lighter;

}

.tutorials h2 span {
    font-weight: bold;
    color: #C271FF;
    margin-left: 10px;
    margin-right: 10px;
}

.tutorial {
    background-color: blue;
    display: flex;
}
.tutorial h3{
    justify-content: first baseline;
    font-size: 16px;
    font-weight: 700;

} 
.tutorial h3 .tutorial-1{
    
}
/* 

body{
   font-family: Source Sans Pro;
   background: url(images/Object.png);
   background-size: 100%;
   background-position: top;
   background-repeat:no-repeat;

}

.tutors h2{
   position: absolute; 
   font-size: 32px;
   font-weight: 700;
   line-height: 40.22px;
   top:470px;
   font-style:light;
   color: white;
}

.tutors h2 span{
 color:#C271FF;
}
.tutors.tutors-1{
    display:flex;
    justify-content:flex-start;
    gap: 100px;
justify-content: row;
}
.tutors.tutors-2{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.tutors.tutors-1 div {
text-align: center;
}


 span{
font-style:bold;
gap: ;
 }
 */
/* .

.testimonials{
    height: 392px;
    background-color: #C271FF;
    height: 392px;
    top: 1093px;
    left: -1px;
    justify-content: center;
    gap: 100px;
   color: white;
}
.testimonials div{
    max-width:50%;
}
.testimonials.Testimonial-quote{
    display: flex;
    flex-direction: coloumn;
    gap: 10px;
}
.testimonials.Testimonial-quote h3{
    font-weight: bold;
}
.tutorial{


} */