body {
    font-family: Source Sans Pro;

}
main{
    display: flex;
    flex-direction: column;
}

/*================================header======================================*/
#main-header {
    top: 35.02px;
    background: url(images/Object.png);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    font-size: 12px;
    font-weight: 700;
    justify-content: space-between;
    padding: 10px 12%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;

}

nav ul a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/*================================herosection======================================*/
.hero-section {
    display: flex;
    flex-direction: column;
    /* border: 5px solid blue; */
}

.CTA-content {
    justify-content: center;
    text-align: center;

}

.CTA-content h1 {
    /* border: 5px solid red; */
    font-size: 120px;
    font-weight: 700;
    line-height: 150.84px;
    color: #FFFFFF;
    margin-top: 100px;
    margin-bottom: 0px;
    line-height: 150.84px;
    height: 151px;


}

.CTA-subcontent {
    /* border: 5px solid magenta; */
    font-family: source Sans Pro;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.11px;
    color: #FFFFFF;
}


.CTA-content .btn {
    border-radius: 22px;
    text-align: center;
    background-color: #C271FF;
    color: white;
    width: 162px;
    height: 44px;
    font-style: semibold;
    font-size: 14;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.514);
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 40px;
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
}

.tutors {
    display: flex;
    flex-direction: column;
    /* border: 5px solid #C271FF; */

}

.tutors .tagline {
    text-align: center;
    color: white;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 32px;
    line-height: 40px;
    text-align: center;

}

.tutors .tagline span {
    color: #C271FF;
    font-weight: 700;
}
.tutors-container{
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    padding: 0px;
}

.tutor-1 {
    /* background-color: aqua;  */
    display: flex;
    justify-content: center;
    /* border: 2px solid #FFFFFF; */
    display: flex;
    color: white;
    gap: 40px;
    font-size: 18px;
    width: 1009px;
    height: 237px;
    opacity: 0px;
}
.tutors div img {
    border-radius: 50%;
    
}


/* ==================================testimonials================================== */
.testimonials {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #C271FF;
    height: 392px;
    top: 1093px;
    height: 392px;
    top: 1093px;
    left: -1px;
    gap: 20px;
    align-items: center;

}
.testimonials div img {
    width: 160px;
    height: 160px;
    top: 1201px;
    left: 259px;
    gap: 0px;
    opacity: 0px;
}

.testimonials .Testimonial-quote {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    justify-content: flex-start;
}

.testimonials .Testimonial-quote h3 {
    font-weight: bold;
    margin-bottom: 5px;
}

.testimonials .Testimonial-quote p {

    margin-top: 0px;
    margin-top: 0%;
}


/* =========================tutorials================= */
.tutorials{
    display: flex;
    flex-direction: column;
}


.tutorials h2 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: lighter;

}

.tutorials h2 span {
    font-weight: bold;
    color: #C271FF;
    margin-left: 10px;
    margin-right: 10px;
}

.tutorial {
    /* background-color: blue; */
    display: flex;
    text-align: justify;

    height: 450px;
    top: 1572px;
    left: 106px;
    gap: 0px;
    opacity: 0px;
}


.tutorial h3 {
    justify-content: first baseline;
    font-size: 16px;
    font-weight: 700;
}

.tutorial h4 {
    color: #C271FF;
}

.tutorial .time {
    display: flex;
    color: #C271FF;
    text-align: right;
}

.tutorials-box{
    border: 3px solid red;
    gap: 40px;
}

.tutorials-box-images{
    border: 2px solid blue;
}
.tutorials .tutorial .tutorials-box .playbtn {
    position: relative;
    width: 64px;
    top: 25%;
    left: 50%;
    transform: translate(-50% -50%);
    display: flex;
}

.tutorials .tutorial .tutorials-box .commenter {
    width: 30px;
    height: 30px;
    top: 261px;
    left: 13px;
    gap: 0px;
    opacity: 0px;
}


.tutors h2 {
    position: absolute;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.22px;
    top: 470px;
    font-style: light;
    color: white;
}

.tutors h2 span {
    color: #C271FF;
}

.tutors.tutors-1 {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    justify-content: row;
}

.tutors.tutors-2 {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.tutors.tutors-1 div {
    text-align: center;
}



/* ========================membership==============================*/


.membership {
    display: flex;
    flex-direction: column;
    background-color: #071629;
    align-items: center;
    text-align: center;
    gap: 85px;
    padding: 50px;
    color: white;

}

.membership-plans {
    display: flex;
    gap: 100px;
}


/*==========================FAQS========================*/
.faqs {
    border:2px solid #071629;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 707px;
    gap: 0px;
    opacity: 0px;
    padding: 70px;
}

.faqs h2 {
    font-size: 60px;
    font-weight: 300;
    display: flex;
    text-align: center;
    justify-content: center;
}

.faq-content{
 border: 2px solid yellow;
 display: flex;
 flex-direction: row;
 justify-content: center;
}